{% extends 'base.html' %}

{% load static %}

{% block content %}

<aside>
    CCTV 화면
    <div class = 'side_contents'>
        <ul class = 'category_highway'>
            <li class = 'highway1'>
                <div class = 'title_box'>
                    <a>
                        <span>경부고속도로</span>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</aside>
<section>
    <img class = 'map' src = "{% static 'images/map.png'%}" width = '115%' height = '100%'>
</section>
<aside>
    Warning 타임라인
</aside>

{% endblock %}
