
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'first:showmain' %}">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <a class="nav-link" href="#">고속도로 목록</a>
          <a class="nav-link" href="#">CCTV 검색</a>
          <a class="nav-link" href = '#'>위치 찾기</a>
          <a class="nav-link" href = '#'>사고 발생구간</a>
        </div>
      </div>
    </div>
  </nav>